.MW_body{
    width: 25rem;
    max-width: 29vw;
    height: auto;
    background: #FFFFFF;
    border: 1px solid #E3E3E3;
    box-shadow: 0 16px 32px rgba(35, 39, 51, 0.1);
    border-radius: 4px;
    position: absolute;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 35%;

}

.MW_find{
    display: flex;
    justify-content: flex-start;
    width: 90%;

}

.MW_input{
    width: 90%;
    height: 47px;
    background: #FFFFFF;

    margin-top: 8%;

    border: 1px solid #C1C1C1;
    border-radius: 4px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;

    outline: none;
}

::placeholder{
    position: absolute;
    top: 20%;
    left: 4%;
    color: #C1C1C1;
}

.MW_scroll{
    width: 90%;
    overflow-x: auto;
    height: auto;
    max-height: calc((50px + 1.5rem) * 3 + 1.5rem);
    /*Firefox*/
    scrollbar-width: thin;
    scrollbar-color: #E3E3E3 #ffffff;
}

.MW_scroll::-webkit-scrollbar{
    display:block;
}

::-webkit-scrollbar{
    height: 12px;
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: #E3E3E3;
    border-radius: 8px;

}




