.CP_body {
    padding: 2% 11.5% 0 11.5%;
    height: 21rem;
    width:auto;
    background-color: white;
}
.CP_head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.CP_title{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;

    letter-spacing: 0.02em;

    color: #828286;
    margin: 2.5rem 0 1rem 0;
}