.H_body{
    display: flex;
    justify-content: space-between;
    padding: 0 11.5%;

    border-bottom: #A6A5A9 1px solid;
    background-color: white;

    font-family: 'Roboto', sans-serif;

    height: 7vh;
}

.H_title{
    display: flex;
    align-items: center;
    padding: 0;

    list-style: none;

    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.05em;

    height: 70%;
}

.H_title_m{
    color: #0D5ADC;
    font-style: normal;
    font-weight: 900;
}

.H_sub_title{
    display: flex;
    align-items: center;
    padding: 0;

    list-style: none;
    font-size: 12px;
    line-height: 14px;
    color: #3B4157;
}

.H_sub_s{
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 14px;
}

.H_sub_lk{
    display: flex;
    align-items: center;
    margin-left: 4rem;

    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 14px;
}

