.P_body{
    display: flex;
    align-items: flex-start;

    height: 45%;
    padding-top: 1%;
}

.P_text_f{
    display: flex;
    align-items: flex-end;
    width: calc(25% + 30px);
    height: 100%;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.02em;
    color: #0D5ADC;
}

input[type=checkbox]{
    transform: scale(1.8);
    margin: 5px 1.3rem 0 5px;
}

.P_Img{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    height: 94%;
    margin-right: 5rem;
}
