.MI_body{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 1.5rem 0;
}

.MI_title{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}

.MI_preview{
    width: 24px;
    height: 50px;
    margin: 0 8%;
}

.MI_change{
    cursor: pointer;

}